<div class="bg-primary text-white p-2"
     [class.bg-warning]="editing">
  <h5>
    {{ editing ? 'Edycja' : 'Dodawanie' }} produktu
  </h5>
</div>

<div *ngIf="editing"
     class="d-flex justify-content-between my-2">
  <button class="btn btn-secondary"
          [routerLink]="['/form', 'edit', model.getPreviousProductId(product.id)]">
    Poprzedni
  </button>
  <button class="btn btn-secondary"
          [routerLink]="['/form', 'edit', model.getNextProductId(product.id)]">
    Następny
  </button>
</div>

<form novalidate
      #form="ngForm"
      (ngSubmit)="submitForm(form)"
      (reset)="resetForm()">
  <div class="form-group">
    <label>Produkt</label>
    <input type="text"
           class="form-control"
           name="name"
           [(ngModel)]="product.name"
           required />
  </div>

  <div class="form-group">
    <label>Kategoria</label>
    <input type="text"
           class="form-control"
           name="category"
           [(ngModel)]="product.category"
           required />
  </div>

  <div class="form-group">
    <label>Cena</label>
    <input type="text"
           class="form-control"
           name="price"
           [(ngModel)]="product.price"
           required
           pattern="^[0-9\.]+$" />
  </div>

  <button class="btn btn-primary m-1"
          type="submit"
          [class.btn-warning]="editing"
          [disabled]="form.invalid">
    {{ editing ? 'Zapisz' : 'Dodaj' }}
  </button>
  <button class="btn btn-secondary m-1"
          type="reset"
          routerLink="/">
    Anuluj
  </button>
</form>
