<table class="table table-sm table-bordered table-striped">
  <tr>
    <th>ID</th>
    <th>Produkt</th>
    <th>Kategoria</th>
    <th>Cena</th>
    <th></th>
  </tr>
  <tr *ngFor="let item of getProducts()">
    <td>{{ item.id }}</td>
    <td>{{ item.name }}</td>
    <td>{{ item.category }}</td>
    <td>{{ item.price | currency:"PLN":"symbol":undefined:"pl-PL" }}</td>
    <td class="text-center">
      <button class="btn btn-danger btn-sm mr-1"
              (click)="deleteProduct(item.id)">
        Usuń
      </button>
      <button class="btn btn-warning btn-sm"
              (click)="editProduct(item.id)"
              routerLink="/form/edit">
        Edytuj
      </button>
    </td>
  </tr>
</table>
<button class="btn btn-primary m-1"
        (click)="createProduct()"
        routerLink="/form/create">
  Dodaj nowy produkt
</button>
<button class="btn btn-danger m-1"
        (click)="deleteProduct(-1)">
  Wygeneruj bład HTTP
</button>
